* {
	box-sizing: border-box;
}

iframe {
	border: none;
}

@font-face {
	font-family: myFirstFont;
	src: url(circula-medium.otf);
}
@font-face {
	font-family: OpenSans;
	src: url(OpenSans-Light.ttf);
}
@font-face {
	font-family: OpenSansBold;
	src:url(OpenSans-Semibold.ttf);
}


body {background-color: #f0f0f0;}

.row::after {
	clear: both;
}

[class*="col-"] {
	float: left;
	/*border: 1px solid #8fb1e8;*/
	padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25.00%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50.00%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75.00%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100.0%;}

/*Nav Menu*/
.menu {
	height: 50px;
	background-color: #f0f0f0;
	text-align: center;
	padding-top: 10px;
	min-width: 600px;
	font-family: myFirstFont;
	font-size: 16px;
	letter-spacing: 3px;
}
.menu ul {
	display: table;
	margin: 0 auto;
	padding: 0; 
	list-style: none;
}
.menu li {
	float: left;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 8px;
}
.menu a {
	display: block;
	position: relative;
	background-color: #eee;
	text-decoration: none;
	padding-bottom: 2px;
}

.menu a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.menu a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.menu a:visited {
	color: black;
}

/*page-style classes*/
 .info-screen {
 	position: relative;
 	margin: 0 auto;
 	top: 0px;
 	width: 650px;
 	font-family: OpenSans;
 }

.info-header {
 	text-align: center;
 	font-family: OpenSans;
 	font-size: 28px;
 	padding-left: 15px;
 	padding-right: 15px;
 }

 /* TEST */
 #picture-holder {
 	height: 300px;
 	width: 200px;
 	background-color: #ddd;
 	border: 1px solid black;
 }

/*portfolio articles*/
.article {
	width: 1000px;
	height: 250px;
	background-color: #ccc;
	display: block;
	position: relative;
	margin: 0 auto;
	padding-bottom: 75px;

}

.article-slider {
	width: 80%;
	float: right;
	height: 250px;
	background-color: black;
	opacity: .70;
	color: white;
	font-family: OpenSans;
	letter-spacing: 1px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 7px;
	display: none;
	text-align: justify;
}

.credits {
	width: 20%;
	height: 200px;
	float:left;
	background-color: #222;
	opacity: .70;
	font-family: OpenSans;
	font-size: 14px;
	color: #eee;
	padding-left: 20px;
	padding-right: 15px;
	padding-top: 15px;
	display: none;
	text-align: justify;
}

.tag {
	width: 20%;
	height: 50px;
	background-color: red;
	font-family: OpenSansBold;
	font-size: 14px;
	color: #eee;
	padding-left: 20px;
	padding-right: 15px;
	padding-top: 15px;
	display: none;
	position:absolute;
	bottom: 0;
	left: 0;
	letter-spacing: 3px;
	text-align: center;
	
}

.spacer {
	height: 75px;
	width: 100%;
}

#aminas {
	margin-top: 50px;
	background-image: url(projects/adv-cart-final.pdf);
	background-position: 50% 25%;
	background-size: 120%;
}

#bike {

}

#waterEx {
	background-image: url(projects/water-extraction-cover.png);
	background-size: 80%;
	background-position: 20% 20%;
}

#pedTest {
	background-image: url(projects/ped-test-cover.png);
	background-size: 85%;
}
 /*on hover: slide transparent black div right - to - left with project description, maybe a color indicator to organize the entry somehow?c*/

#resume {
	background-color: #eefeef;
	position: relative;
	margin: 0 auto;
	width: 875px;
}

.resume-section {
	position: relative;
	float:left;
	overflow:hidden;
	background-color: #eefeef;
}

#contactLink a{
	text-decoration: none;
	font-family: OpenSansBold;
	color: #333;
}






























